.Button {
  display: inline;
  border: none;
  padding: 5px 10px;
  margin: 0px 5px;
}

.Button-big {
  font-size: calc(14px + 2vmin);
  padding: 8px 16px;
}

.Button-delete {
  color: #fff;
  background: #944;
}

.Button-ok {
  color: #fff;
  background: #494;
}
