.Entry {
  border: 1px solid #000;
  margin: 5px 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.Entry-title {
  text-align: left;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.Entry-participant-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  box-sizing: border-box;
}

.Entry-participant-list .Participant {
  margin: 0 5px 5px 0;
}