.Entry {
  margin: 5px 0px;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
}

.Entry-title {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.Entry-participant-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  box-sizing: border-box;
}

.Entry-participant-list > * {
  margin: 0 5px 5px 0;
}

.Entry .Entry-expand {
  margin-left: auto;
  transform: rotate(0deg);
  transition: transform 250ms;
}
.Entry .Entry-expandOpen {
  transform: rotate(180deg);
}