.Label {
  background-color:#ddf;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  cursor: default;
}

.Label-close {
  cursor: pointer;
  background: url("../images/close.svg") transparent no-repeat center;
  background-size: cover;
  border: transparent;
  height:100%;
  margin-left: 5px;
}